<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name="com.gabrielbernabeu.hcwforunity.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
				<action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data android:name="health_permissions" android:resource="@array/health_permissions" />
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>

	<!-- Check whether Health connect is installed or not -->
	<queries>
		<package android:name="com.google.android.apps.healthdata" />
	</queries>
</manifest>
